<h2>NgIf Kullanımı</h2>
<h4 *ngIf="isView">Bu bir h4 başlıktır</h4>
<input type="button" value="{{isView? 'Gizle': 'Göster'}}" (click)="isView=!isView"/>
<hr>

<h2>NgIf Else Kullanımı</h2>
<div *ngIf="isLoggedIn; else loggedOut">
  Giriş yapıldı
</div>

<ng-template #loggedOut>
  Lütfen giriş yapınız !
</ng-template>
<hr>

<h2>NgFor Kullanımı</h2>
<ul>
  <li *ngFor="let fruit of fruits">
    {{fruit}}
  </li>
</ul>
<hr>

<h2>NgSwitch Kullanımı</h2>
<div [ngSwitch]="selectedRole">
  <h4 *ngSwitchCase="'director'">Sayın direktör; %65 zam aldınız..!</h4>
  <h4 *ngSwitchCase="'secretary'">Sayın sekreter; %25 zam aldınız..!</h4>
  <h4 *ngSwitchCase="'administrator'">Sayın direktör; %45 zam aldınız..!</h4>
</div>
<hr>

<h2>&#64;If Kullanımı</h2>
@if (showHello) {
  return <h2>Hello</h2>
}

@if (showHello) {
  <h2>Hello</h2>
}
@else {
  <h2>Goodbye</h2>
}
<hr>

@if (showHello) {
  <h2>Hello</h2>
}
@else if (showGoodbye) {
  <h2>Goodbye</h2>
}
@else {
  <h2>See you later</h2>
}
<hr>

<h2>&#64;for Kullanımı</h2>
<ul>
@for (color of colors; track color) {
  <li>{{ color }}</li>
}
</ul>`,
<hr>

<ul>
  @for (course of courses; track course.id) {
    <li>{{ course.name }}</li>
  }
</ul>
<hr>

<h2>&#64;Switch Kullanımı</h2>
@switch (currency){
  @case ('₺'){
    <div>Türk Lirası</div>
  }
  @case ('$'){
    <div>Amarikan Doları</div>
  }
  @case ('€'){
    <div>Euro</div>
  }
  @default {
    <div>Tanımsız !!!</div>
  }
}
